.grid-container-main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    font-weight: bold;
    font-size: x-large;
  }

  .App {
    max-width: 100%;
    overflow: hidden;
  }

  .dropdown {
      width: 100%;
      text-align: center;
      border: solid black 1px;
      box-shadow: 10px 10px 8px #888888;
  }
  
  .dropdown:hover {
    box-shadow: 13px 13px 10px #888888;
  }